

header{
  		background-color: #F15B31;
  		color: #FFFFFF;
        padding: 30px 20px 30px 20px;
        margin: 0 auto;
        text-transform: uppercase;
    




}

nav{
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0px 20px 0px;


}

a {
text-decoration: none;
  font-family: Raleway;
  margin: 0 20px 0 20px;
  text-transform: uppercase;
  color: white;
  border-bottom: 2px solid transparent;
}
 /* a:hover {
/* Your styles here
} */
a:hover {

	background-color: #F15B31;

}

body {
  	text-align: center;
    margin: 0;

}

h1{ font-family: Raleway;
	color: white;
	letter-spacing; 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0; 


}

h2{ font-family: Raleway;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
 }

 
 h3 { 

 	font-size: 24px;

}
div {
  background: #c0dec5;
  padding: 30px 20px 0 15px;
}


}


main{
	width: 850px;
	padding: 35px auto 35px auto;
}

img{
	margin: 40px 8px 0px 8px;
}

footer{ 
		text-transform: uppercase;
		padding: 0 20px 0 20px;
		background-color: #0D2C40;
		color:white;
		font-size: 14px;
		letter-spacing: .08em;
		font-weight: 500;
	}

	.copyright{ 
		font-family: Raleway;
		float: left;

	}

	.message{
		font-family: Raleway;
		float: right;
	}

	.clearfix:after {
			visibility: hidden;
			display: block;
			content: " ";
			clear: both;
			height: 0;
			font-size: 0;
		}
		.name{
			color: #F15B31;
			font-weight: 700;
		}
		}
 }